[user]
    name = Tomas Kala
    email = me@tomaskala.com
    username = tomaskala
    signingKey = BEB4BD93D9FFD6A585F367AA6C787D207CCD1CFA

[core]
    editor = nvim
    autoclrf = input

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[fetch]
    prune = true

[push]
    default = simple

[pull]
    rebase = true

[rebase]
    autoSquash = true
    autoStash = true

[merge]
    tool = vimdiff
    conflictStyle = diff3

[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[commit]
    gpgSign = true

[pass]
	signcommits = true
