# This is the OpenMW user 'settings.cfg' file.  This file only contains
# explicitly changed settings.  If you would like to revert a setting
# to its default, simply remove it from this file.  For available
# settings, see the file 'files/settings-default.cfg' in our source repo or the documentation at:
#
#   https://openmw.readthedocs.io/en/master/reference/modding/settings/index.html

[Sound]
device = 
hrtf = 
buffer cache max = 64

[Video]
resolution x = 1920
resolution y = 1056

[Camera]
view over shoulder = true
preview if stand still = true
head bobbing = true
zoom out when move coef = 60
viewing distance = 71680

[GUI]
stretch menu background = true
color topic enable = true

[Input]
toggle sneak = true
always run = true

[Game]
use additional anim sources = true
turn to movement direction = true
weapon sheathing = true
shield sheathing = true
swim upward correction = true
smooth movement = true
NPCs avoid collisions = true
can loot during death animation = false
use magic item animations = true

[Shaders]
antialias alpha test = true
apply lighting to environment maps = true
force shaders = true
clamp lighting = false
auto use object normal maps = true
auto use object specular maps = true
auto use terrain normal maps = true
auto use terrain specular maps = true
radial fog = true
lighting method = shaders
maximum light distance = 16384
max lights = 64

[Terrain]
distant terrain = true
object paging active grid = true
object paging min size = 0.1

[Water]
shader = true
refraction = false

[Groundcover]
enabled = true
density = 0.5
min chunk size = 0.5
stomp mode = 2
stomp intensity = 2
