configuration {
    theme: "Arc-Dark";
    modi: "drun,file-browser,ssh,window";
    width: 50;
    lines: 10;
    columns: 1;
    show-icons: true;
    fixed-num-lines: true;
    bw: 1;
    matching: "fuzzy";
    levenshtein-sort: true;
    sidebar-mode: true;
    hide-scrollbar: true;
    parse-known-hosts: false;
}
